<footer class="site-footer">
  <div class="wrapper">
    
    <!-- Links and Subscribe Section -->
    <div class="footer-col">
      {% for link in site.data.links %}
        <p>{{ link.desc }} : <a href="{{ link.url }}">{{ link.title }}</a></p>
      {% endfor %}
      <p class="feed-subscribe">
        <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
          <svg class="svg-icon orange">
            <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
          </svg><span>Subscribe</span>
        </a>
      </p>
    </div>
    
    <!-- Author Information -->
    {%- if site.author %}
      <div class="footer-col">
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      </div>
    {%- endif %}
    
    <!-- Social Links -->
    <div class="footer-col">
      {%- include social.html -%}
    </div>
    
    <!-- OpenWire Branding -->
    <div class="footer-col col-md-4 col-sm-6">
      <div class="footer-left">
        <h2> OpenWire<span> </span></h2>
        <p class="name"> Copyright  &copy; 2025 - {{ site.time | date: '%Y' }} Mario Colina</p>
      </div>
    </div>
    
  </div>
</footer>
