@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.post-content {
  font-family: 'Courier Prime', monospace;
}

.avatar {
    width: 100px; /* adjust as needed */
    height: 100px; /* adjust as needed */
    border-radius: 50%; /* makes the image circular */
    border: 2px solid #333; /* optional: adds a border */
  }
  